@font-face {
  font-family: "HK Grotesk Light";

  src: url("../fonts/hk-grotesk/HKGrotesk-Light.otf");
}

@font-face {
  font-family: "LeagueSpartan";

  src: url("../fonts/league-spartan/LeagueSpartan-Bold.otf");
}

body {
  margin: 0;
  padding: 0 15px;

  font-family: "HK Grotesk Light", "Arial", sans-serif;

  background-color: #212c43;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0, 0, 0, 0);
}

.container {
  display: flex;
  flex-flow: column;
  min-width: 430px;
  max-width: 1160px;
  min-height: 100%;
  margin: 0 auto 0;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 63px 0 53px;
}

.main-logo {
  display: block;
}

.main-logo img {
  width: 294px;
  height: 72px;
}

.search {
  position: relative;
}

.search input {
  width: 176px;
  margin-top: 16px;
  padding-bottom: 5px;
  padding-left: 33px;

  font-size: 24px;
  line-height: 24px;
  font-family: "HK Grotesk Light", "Arial", sans-serif;
  color: #93a3ab;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid #93a3ab;
  outline: none;
}

.search::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 1px;

  display: inline-block;
  width: 22px;
  height: 22px;

  background: url("../img/search.png") no-repeat;
  background-color: transparent;
}

main {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  margin: auto;
  padding: 0;

}

.catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  flex-basis: 100%;
}

.catalog-item {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 28px;

  background-color: grey;
}

.catalog-item h3,
.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-item .catalog-item-title {
  font-family: "LeagueSpartan", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-item .catalog-item-info {
  font-family: "HK Grotesk Light", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.6px;
}

.btn-buy {
  display: inline-block ;

  font-size: 18px;
  font-family: "LeagueSpartan", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;

  background-color: transparent;
  border: 3px solid #f0caa1;
}

.gina {
  flex: 1 1 100%;
  box-sizing: border-box;
  height: 690px;
  margin-bottom: 40px;
  padding: 115px 58px 112px 58px;

  background: url("../img/gina.jpg") no-repeat;
}

.gina .catalog-item-title {
  width: 365px;
  margin: 0;
  margin-bottom: 30px;

  font-size: 80px;
  line-height: 80px;
}

.gina .catalog-item-info {
  width: 365px;
  margin-bottom: 135px;
  margin-left: 3px;

  font-size: 32px;
  line-height: 38px;
}

.now {
  margin-right: auto;
  margin-left: 2px;
  padding: 12px 22px 13px 24px;

  font-size: 24px;
  font-family: "HK Grotesk Light", "Arial", sans-serif;
  text-transform: capitalize;
}

.beoplay,
.leica {
  flex: 1 1 50%;
  box-sizing: border-box;
  height: 520px;
  margin-bottom: 40px;
  padding-top: 61px;
}

.beoplay {
  flex: 1 1 50%;
  align-items: flex-end;

  text-align: right;

  background: url("../img/beoplay.png") no-repeat;
  background-color: #60baa5;
}

.leica {
  flex: 1 1 45%;
  align-items: flex-start;
  margin-left: 40px;

  text-align: left;

  background: url("../img/leica.png") no-repeat;
  background-color: #757dc9;
}

.beoplay .catalog-item-title,
.leica .catalog-item-title {
  margin-bottom: 10px;

  font-size: 48px;
}

.beoplay .catalog-item-info,
.leica .catalog-item-info {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.6px;
}

.beoplay .btn-buy,
.leica .btn-buy {
  margin-top: auto;
  margin-bottom: 223px;
  padding: 12px 36px 8px 37px;

  letter-spacing: 2px;
}

.molekule,
.signature,
.dr {
  height: 440px;
  text-align: center;
}

.molekule {
  flex: 1 1 15%;
  

  background: url("../img/molekule.png") no-repeat;
  background-color: #eb7c61;
}

.signature {
  flex: 1 1 15%;
  margin-left: 40px;

  background: url("../img/p9.png") no-repeat;
  background-color: #537683;
}

.dr {
  flex: 1 1 15%;
  margin-left: 40px;

  background: url("../img/dr-ii.png") no-repeat;
  background-color: #81cada;
}









.main-footer {
  box-sizing: border-box;
  width: 100%;
  min-width: 430px;
  max-width: 1160px;
  margin: auto;
  padding: 15px;

  background-color: #222222;
}
